.root {
  background: var(--color3);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Ranchers", cursive;
  text-align: center;
  margin: 25px;
}

.countdown {
  font-family: "Ranchers", cursive;
  font-size: 150px;
}

.title {
  position: absolute;
  top: 45px;
  left: -5px;
  right: -5px;
  text-align: center;
  background: var(--color1);
  font-size: 35px;
  font-family: "Ranchers", cursive;
  transform: rotate(-2deg);
  margin: 0;
  padding: 16px;
}